@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    padding: 5px;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
}

header{
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

main{
    margin: 10px;
    padding-bottom: 40PX;
}

footer{
    position: sticky;
    bottom: 20px;
    margin: 10px;
    padding: 10px;
}

h2{
    margin: 15px 0px;
}

h3{
    margin: 10px 0px;
}

img{
    margin: 5px 5px 0px 5px;
}

a:hover{
    color: green;
}

p.rating {
    margin: 0px 10px;
    padding: 0px;
}

img.preview{
    margin: 0px 10px;
    padding: 0px;
}

.table_item{
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 5px;
}

.directions{
    margin: 0px 45px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.make_scroll{
    border-style: groove;
    width: 40px;
}
